<div class="d-flex flex-column align-items-center mt-5">
  <div class="width">
    <div class="d-flex align-items-center border-bottom">
      <h1> <%= @article.title %> </h1>
      <%= link_to (fa_icon "edit"), edit_article_path %>
      <%= link_to (fa_icon "trash"), article_path(@article), method: :delete, data: { confirm: "Are you sure?"} %>
    </div>
    <p class="py-3"> <%= @article.content  %> </p>
  </div>
</div>

